//
//-- Config
//

// colors
$color-base: #15263e;
$color-base-light: #374362;
$color-gradient1: #b119ec;
$color-gradient2: #f8027e;
$color-highlight: #a91aef;

// widths
$site-width: 75em; // 75x16 = 1,200px

$smallest-width: 20em; // 20x16 = 320px
$very-small-width: 30em; // 30x16 = 480px
$small-width: 48em; // 48x16 = 768px
$medium-width: 60em; // 60x16 = 960px
$large-width: 75em; // 75x16 = 1,200px
$very-large-width: 100em; // 100x16 = 1,600px