@use 'abstracts' as *;

$grid-gutter: 16px;

.grid {
	margin-left: ($grid-gutter * -1);
	margin-right: ($grid-gutter * -1);
}

@include generate_grid(xs, $grid-gutter);

@include phone-land {
	@include generate_grid(sm, $grid-gutter);
}

@include tablet-port {
	@include generate_grid(md, $grid-gutter);
}

@include tablet-land {
	@include generate_grid(lg, $grid-gutter);
}
